html {
  height: 100%;
}
body {
  height: 100%;
  font-family: "微軟正黑體", "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}
.main-wrapper {
  background-image: url(../images/bg-content.png);
  min-height: 100%;
  position: relative;
}
/********** Header Block Css **********/
.header-block {
  background-color: #fff;
  padding: 10px 0;
  position: relative;
}
.header-navbar ul {
  list-style: none;
  padding-left: 0;
  text-align: center;
  margin-bottom: 10px;
  font-size: .875em;
}
.header-navbar ul li {
  display: inline-block;
}
.header-navbar ul li a {
  color: #555;
}
.header-navbar ul li a:hover {
  color: #009aa9;
}
.main-logo-block {
  height: 45px;
  margin-bottom: 10px;
}
.main-logo > img {
  max-width: 80%;
  height: auto;
}
.menu-button {
  float: right;
}
    .menu-button button, .menu-button #open-menu {
        background-color: #ff6200;
        border: none;
        border-radius: 3px;
        padding: 6px 10px;
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
.menu-button .fa-bars {
  color: #fff;
}
.mobile-menubar-block {
  z-index: 10;
  position: absolute;
  left: 0;
  right: 0;
  padding: 0 15px;
  background-color: #fff;
  display: none;
  box-shadow: 1px 2px 3px rgba(6, 5, 34, .2);
}
.mobile-menubar-block .dropdown > a::after {
  content: "\f107";
  font-family: FontAwesome;
  float: right;
}
.mobile-menubar-block .nav > li > a {
  color: #333;
  border-bottom: 1px solid #ddd;
}
.mobile-menubar-block .nav > li:last-child > a {
  border-bottom: none;
}
.mobile-menubar-block .nav > li > a:hover,
.mobile-menubar-block .nav > li > a:focus {
  background-color: #009aa9;
  color: #fff;
}
.mobile-menubar-block .nav .dropdown-menu {
  background-color: #eee;
}
.mobile-menubar-block .nav .dropdown-menu > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
.mobile-menubar-block .nav .dropdown-menu > li:last-child > a {
  border-bottom: none;
}
@media screen and (min-width: 768px) {
  .header-navbar {
    float: right;
    line-height: 40px;
  }
  .main-logo-block {
    margin-bottom: 0;
  }
  .main-logo img {
    max-width: 100%;
    height: auto;
  }
}
/********** Kv-Banner Block Css **********/
/*.kv-banner-block {
  height: 150px;
  background-image: url(../images/banner_kv.png);
  background-repeat: no-repeat;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .kv-banner-block {
    height: 150px;
  }
}
@media screen and (min-width: 1025px) {
  .kv-banner-block {
    height: 300px;
  }
}*/
.kv-banner-block img{
    display: block;
    width: 100%;
}
/********** Menu Bar Block Css **********/
.menubar-block {
  background-color: #009aa9;
}
.menubar {
  padding-left: 0;
  margin-bottom: 0;
}
.menubar > li > a {
  display: block;
  padding: 14px 0;
  font-size: 1.063em;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(6, 5, 34, .7);
  text-decoration: none;
}
.menubar > li > a:hover,
.menubar > li > a:focus {
  background-color: #ff6200;
}
.menubar .dropdown > a::after {
  content: "\f107";
  font-family: FontAwesome;
  padding-left: 10px;
}
.menubar .dropdown-menu > li > a {
  padding: 10px 20px;
}
.menubar .dropdown-menu > li > a:hover {
  background-color: #009aa9;
  color: #fff;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .menubar .dropdown:last-child .dropdown-menu {
    right: 0;
  }
}
/********** Content Block Css **********/
.content-block {
  padding-top: 50px;
  padding-bottom: 150px;
}
/***** 最新消息 News *****/
.news-block .panel {
  border: none;
  border-radius: 0;
}
.news-block .panel .panel-heading {
  padding: 0;
}
.news-block .panel .panel-body {
  padding: 10px 0;
}
.main-title-style {
  height: 35px;
  background-color: #009aa9;
  border-left: 10px solid #0e6d76;
  border-bottom: 1px solid #0e6d76;
}
.main-title-style h2,
.main-title-style span {
  line-height: 35px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(6, 5, 34, .7);
}
.main-title-style h2 {
  margin: 0;
  display: inline-block;
  font-size: 1.125em;
  letter-spacing: .15em;
  padding-left: 10px;
  font-weight: bold;
}
.main-title-style h3,
.main-title-style span {
    line-height: 35px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(6, 5, 34, .7);
}

.main-title-style h3 {
    margin: 0;
    display: inline-block;
    font-size: 1.125em;
    letter-spacing: .15em;
    padding-left: 10px;
    font-weight: bold;
}
.main-title-style span {
  font-family: 'Lato', sans-serif;
  font-size: .875em;
}
.title-more-button {
  float: right;
  display: inline-block;
  line-height: 35px;
  color: #fff;
  text-decoration: none;
  font-size: .875em;
  margin-right: 10px;
}
.title-more-button::after {
  content: "\f101";
  font-family: FontAwesome;
  padding-left: 5px;
}
.title-more-button:hover,
.title-more-button:focus {
  color: #fff;
  text-decoration: none;
}
.news-block-content {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.news-title {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #333;
}
.news-block li:last-child .news-title {
  border-bottom: none;
}
.news-title:hover {
  color: #009aa9;
}
.news-date {
  font-family: 'Lato', sans-serif;
  display: inline-block;
  font-size: .875em;
  color: #ff6200;
  font-weight: bold;
  margin: 0 1em 0 0;
  text-decoration: none;  
}
/***** 使用者登入 Sign up *****/
.sign-up-block {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 3px 3px 8px rgba(11, 4, 39, .1);
  margin-bottom: 20px;
}
.sign-up-block .main-title-style {
  background-color: #259e5e;
  border-left-color: #096836;
  border-bottom-color: #096836;
}
.main-form-style {
  padding: 20px 10px;
}
.main-form-style input.form-control {
  border-color: #aaa;
  border-radius: initial;
}
.main-form-style ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.main-form-style ul li {
  display: inline-block;
  margin-left: 10px; 
}
.main-form-style ul li a {
  color: #555;
  text-decoration: underline;
  font-size: .875em;
}
.main-button-style {
  margin-top: 30px;
  background-color: #2f72b3;
  height: 35px;
  border: none;
  border-bottom: 3px solid #185590;
  color: #fff;
  font-weight: bold;
  letter-spacing: .15em;
}
.main-button-gray-style {
  background-color: #bbb;
  border-bottom: 3px solid #999;
  color: #444;
}
.user-name > p {
  margin-bottom: 0;
  display: inline-block;
  padding-left: 15px;
  font-size: .875em;
}
.user-name > h4 {
  margin: 0;
  display: inline-block;
  font-weight: bold;
  font-size: 1.25em;
}
/***** 諮詢服務 Service *****/
.service-block {
  padding: 10px;
}
.service-block .main-title-style {
  background-color: #fe8a2c;
  border-left-color: #d86407;
  border-bottom-color: #d86407;
}
.service-info {
  list-style: none;
  margin-bottom: 0;
  padding: 10px;
}
.service-info li {
  padding: 3px 0;
  font-size: .875em;
}
.service-info li::before {
  content: "\f01d";
  font-family: FontAwesome;
  padding-right: 5px;
  color: #cc1818;
}
/***** 左方功能選單 *****/
.left-menubar-block {
  padding: 10px;
}
.left-menubar-block .panel {
  border-radius: 0;
  border: none;
}
.left-menubar-block .panel-heading {
  padding: 0;
}
.left-menubar-list {
  padding-left: 0;
  list-style: none;
}
.left-menubar-list > li {
  padding: 5px 0;
}
.left-menubar-list > li > a {
  font-size: .938em;
  color: #009aa9;
  text-decoration: none;
  font-weight: bold;
}
.left-menubar-list > li > a::before {
  content: "\f192";
  font-family: FontAwesome;
  padding-right: 5px;
  color: #0e6d76;
  font-weight: normal;
}
.left-menubar-second-list {
  padding-left: 20px;
  list-style: none;
  margin-bottom: 0;
}
.left-menubar-second-list > li {
  padding: 5px 0;
}
.left-menubar-second-list > li > a {
  font-size: .875em;
  color: #555;
  text-decoration: none;
}
.left-menubar-second-list > li > a::before {
  content: "\f0da";
  font-family: FontAwesome;
  padding-right: 5px;
  color: #d86407;
}
@media screen and (min-width: 768px) {
  .content-block {
    padding-bottom: 130px;
  }
  .service-info li {
    font-size: .813em;
  }
}
/***** Content Block Info Css *****/
.content-block-info {
  background-color: #fff;
  padding: 10px 20px;
}
.content-block-info .breadcrumb {
  font-size: .875em;
  background-color: transparent;
}
.content-block-info-title {
  margin-bottom: 35px;
  border-left: 6px solid #d86407;
}
.content-block-info-title > h2 {
  padding-left: 5px;
  margin: 0;
  color: #fe8a2c;
  font-size: 1.5em;
  font-weight: bold;
  display: inline-block;
}
.content-block-info-title .shared-button {
  float: right;
}
.shared-button {
  font-size: .875em;
  background-color: #ccc;
  color: #555;
  border: none;
  padding: 3px 15px;
  margin: 0 2px;
  border-radius: 2px;
  border-bottom: 2px solid #aaa;
}
.shared-button > .fa {
  padding-right: 5px;
}
.add-button {
  background-color: #009aa9;
  border-bottom: 2px solid #0e6d76;
  color: #fff;
}
.search-button {
  background-color: #259e5e;
  border-bottom: 2px solid #096836;
  color: #fff;
}
.content-block-info-list-type > li {
  padding-bottom: 15px;
}
.content-block-info-second-list-type > li {
  padding: 10px 0;
  font-size: .938em;
}
.main-table-style {  
  margin-bottom: 20px;
}
.main-table-style tr th {
  background-color: #4cb8c2;
  color: #fff;
  text-align: center;
  font-size: .875em;
  border: 1px solid #ddd;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.main-table-style > tbody > tr > th {
  border-top: none;
}
.main-table-style > tbody > tr:nth-child(odd) {
  background-color: #e8f7f9;
}
.main-table-style tr > td {
  font-size: .75em;
  border: 1px solid #ddd;
}
.table-horizontal-scroll {
  margin: auto;
  border-collapse: collapse;
  overflow-x: auto;
  display: block;
  max-width: 100%;
  width: fit-content;
}
.table-horizontal-scroll tr th,
.table-horizontal-scroll tr td {
  white-space: nowrap;
  text-overflow: ellipsis;
}
.main-tabs {
  border-bottom: 2px solid #eee;
}
.main-tabs > li.active > a,
.main-tabs > li.active > a:focus,
.main-tabs > li.active > a:hover {
  border-width: 0;
  background-color: transparent;
}
.main-tabs > li > a {
  border: none;
  color: #555;
  font-weight: bold;
}
.main-tabs > li.active > a,
.main-tabs > li > a:hover {
  border: none;
  color: #fe8a2c !important;
  background-color: transparent;
}
.main-tabs > li > a::after {
  content: "";
  background-color: #fe8a2c;
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0px; 
  bottom: -1px; 
  transition: all 250ms ease 0s; 
  transform: scale(0);
}
.main-tabs > li.active > a::after,
.main-tabs > li:hover > a::after {
  transform: scale(1);
}
.main-tabs-content {
  padding: 20px 0;
}
.main-table-form .panel-heading {
  font-weight: bold;
}
.main-table-form .table tr th,
.main-table-form .table tr td {
  font-size: .875em;
  border-top: none;
}
.main-table-form .table .main-button-style {
  margin: 0 5px;
  font-size: 1em
}
.text-content .detail-info {
  padding-left: 0;
  margin-bottom: 20px;
  list-style: none;
}
.text-content .detail-info li {
  display: inline-block;
  font-size: .875em;
  color: #555;
}
.text-content p {
  line-height: 2em;
}
.text-content-download {
  margin-top: 30px;
  display: inline-block;
  font-weight: bold;
  color: #cc1818;
}
.text-content-download::before {
  content: "\f0f6";
  font-family: FontAwesome;
  padding-right: 5px;
  font-weight: normal;
}

@media screen and (min-width: 1025px) {
  .table-horizontal-scroll tr th,
  .table-horizontal-scroll tr td {
    white-space: normal;
    text-overflow: inherit;
  }  
  .main-table-style tr th {
  white-space: nowrap;
  text-overflow: ellipsis;
  }
}
/********** Footer Block Css **********/
.footer-block {
  height: 130px;
  padding: 10px 0;
  box-sizing: border-box;
  background-color: #4f5454;
  color: #fff;
  /*position: absolute;
  bottom: 0;
  left: 0;
  right: 0;*/
}
.footer-block table > tbody > tr > td {
  font-size: .875em;
}
@media screen and (min-width: 768px) {
  .footer-block {
    height: 110px;
  }
}
@media screen and (min-width: 1025px) {
    .footer-block {
        height: 90px;
    }
}

/* page_Area */
.page_area{
	margin:0 auto;
	width:100%;
	text-align:center;
	color:#58c8a4;
	overflow:hidden;
}
.page_area ul
{
	list-style:none;
	margin:0; padding:0;
}
.page_area li
{
	line-height:20px;
	float:left;
	padding-left:10px;
}
.page_area li a{
	color:#58c8a4;
	text-decoration:none;
}
.page_area li a:hover{
	color:#1c9df4;
	text-decoration:underline;
}
.page_area li em,
.page_area li em a,
.page_area li em a:hover
{
	font-style:normal;
	color:#1c9df4;
	text-decoration:underline;
}
.must:before {
    content: '*';
    color: #ca3c3c;
    font-weight: bold;
}

a[accesskey] {
    position: absolute;
    color: #ccc;
    top: 0px;
    left: 20px;
    text-decoration: none;
}
h1 {
    margin:0;
}

a:focus,
input:focus,
select:focus,
button:focus,
textarea:focus {
    outline: 3px dashed #f00 !important;
}